{% extends "base.html" %}

{% block title %}Welcome | Recipe App{% endblock %}

{% block content %}
<section class="main-banner" style="background-image: url('{{ MEDIA_URL }}welcome.jpg');">
    <div class="banner-content">
        <h1>Welcome!</h1>

        {% if user.is_authenticated %}
            <!-- Show these if the user is logged in -->
            <a href="{% url 'recipes:recipe_list' %}" class="btn-browse">Browse Recipes</a>
            <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
        {% else %}
            <!-- Show this if the user is NOT logged in -->
            <a href="{% url 'login' %}" class="btn-login">Login</a>
        {% endif %}
    </div>
</section>
{% endblock %}
