{% extends "base.html" %}
{% load static %}


{% block title %}About Me | Recipe App{% endblock %}

{% block content %}
<section class="about-section">
    <div class="container about-container">
        <h1>About Me</h1>

        <div class="about-content">
            <div class="about-image">
                {% load static %}
                <img src="{% static 'site_images/About_me.jpg' %}"
                    alt="Developer Richard Lindsell Headshot">
            </div>
            <div class="about-text">
                <p>Hello! I’m Richard Lindsell, the creator of this recipe app. I'm a former screenwriter, filmmaker,
                    and creative professional with 30+ years in the media and entertainment industries and have
                    transitioned into a career as a web developer. I’ve gained hands-on experience with modern web
                    technologies as a fellow of the Career Foundry Full Stack Immersion, while drawing on decades of
                    self-directed learning, creative problem-solving, and collaborative project work. My experience
                    constructing stories through writing, images and editing technologies like Adobe Creative Suite is
                    now directed into building digital products optimized for great user experiences in an
                    ever-expanding digital world.</p>

                <a href="https://lindsellr.github.io/portfolio-project/index.html" class="btn btn-portfolio"
                    target="_blank" rel="noopener noreferrer">
                    View My Portfolio
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}