{% extends "base.html" %}

{% block title %}Login | Recipe App{% endblock %}

{% block content %}
<section class="login-section">
    <div class="login-container">
        <h1>Login</h1>

        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <form action="" method="POST" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}  {# nicely formatted Django form fields #}
            <button type="submit" class="btn btn-login">Login</button>
        </form>
    </div>
</section>
{% endblock %}
